<div class="page-header">
<h1> All of the statuses</h1>
</div>


<%= link_to "New Status", new_status_path, class: "btn btn-info" %>
<br>
<br>
<% @statuses.each do |status| %>
  <div class="status well">
    <strong><%= status.user.full_name %></strong>
    <p><%= status.content %></p>
    <div class="meta"><%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
      <%= link_to " ", edit_status_path(status), class: "glyphicon glyphicon-pencil" %>
      <%= link_to " ", status, method: :delete, data: {confrim: "are you sure?"}, class: "glyphicon glyphicon-trash" %>

    </span>
    </div>
  </div>
<% end %>