<div class="page-header">
<h1> All of the statuses</h1>
</div>


<%= link_to "New Status", new_status_path, class: "btn btn-info" %>
<br>
<br>
<% @statuses.each do |status| %>
  <div class="status well">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <div class="meta"><%= link_to time_ago_in_words(status.created_at) + " ago", status %></div>
    <span class="admin">
      <%= link_to "Edit ", edit_status_path(status) %>|
      <%= link_to "Delete", status, method: :delete, data: {confrim: "are you sure?"} %>

    </span>
  </div>
<% end %>